body {
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
}
#all-products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* border: 1px solid black; */
  text-align: center;
  width: 100%;
  margin: auto;
  align-items: center;
  justify-content: center;
}
.single-product {
  border-radius: 10px;
  padding: 10px;
  transition: 0.4s;
  margin: 10px;
  border: 2px solid white;
}
.single-product:hover {
  box-shadow: 4px 4px 6px gray;
  border-radius: 10px;
  border: 2px solid black;
}
.product-image {
  width: 150px;
  height: 150px;
}
.cart {
  width: 350px;
  border-left: 8px solid gray;
  padding: 10px;
  box-shadow: 10px 10px 20px gray;
  border-radius: 5px;
  margin-right: 30px;
  position: fixed;
}
.cart-main {
  padding-right: 30px;
}
@media only screen and (max-width: 768px) {
  #all-products {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .cart {
    width: 300px;
    /* border: 1px solid green; */
    padding: 10px;
    box-shadow: 10px 10px 20px gray;
    border-radius: 5px;
    margin-right: 30px;
    position: fixed;
  }
  .cart-main {
    padding-right: 10px;
  }
}
@media only screen and (max-width: 468px) {
  #all-products {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}

/* own create some css */

.input-groups {
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
      }

.inputs {
  border-radius: 100px;
  padding: 10px 25px;
  color: black;
  border: 3px solid black;
  outline: none;
  margin-top: 25px;
      }
.images {
  margin-top: 25px;
  width: 50px;
  background-color: black;
  border-radius: 100px;
  padding: 10px;
  cursor: pointer;
      }
.images2 {
  margin-top: 25px;
  width: 50px;
  border: 3px solid black;
  border-radius: 100px;
  position: relative;
  cursor: pointer;
      }
.shopping-cart{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
      }
i{
  color: #6b6b6b;
      }
.show-details-img{
  width: 50% !important;
  margin: auto;
      }

.cart-icon{
  color: white;
      }
/* own create some css */